.aa{
    font-size: 18px;
    padding:0%;
}

.bb{
    font-size: 25px;
     padding: 0%;
     margin-left:40px ;
}
ul{
    /* background-color: saddlebrown; */
    margin-left: 65%;
}

li{
    padding-left: 10px;
    padding-right: 10px;
}


